name: github pages
on:
  push:
    branches:
      - main
      - forester

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: "install emacs"
        run: sudo apt-get install -y emacs
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "5.0"

      - name: Install JS dependencies
        run: npm install

      - name: Install Forester
        run: |
          git clone https://git.sr.ht/~jonsterling/ocaml-forester
          cd ocaml-forester
          opam pin add -y . --locked

      - name: Setup TeX Live
        uses: teatimeguest/setup-texlive-action@v2
        with:
          packages: >-
            scheme-medium
            standalone
            mlmodern
            amsfonts
            amsmath
            zx-calculus
            tikz-cd
            l3packages
            dvisvgm
            pgf
            etoolbox
            mathtools
            stmaryrd
            newtx
            newpx
            xstring
            fontaxes
            kastrup

      - name: Check `latex` version
        run: latex --version

      - name: "build org files"
        run: make build-org
      - name: "build forester"
        run: make release

      - name: "Deploy"
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
          publish_branch: gh-pages
